<div ng-app="angularSpa" ng-controller="crearActorCtrl">
	<form ng-submit="crearActor()">
		<div flex-container="row">
			<div flex-item>
			<br/><label for="nombre">Nombre</label><br />
			<input type="text" ng-model="form.nombre">
			</lx-text-field>	
			</div>	
		</div>
		<div flex-container="row">
			<div flex-item>
			<br /><label for="apellido">Apellido</label><br />
			<input type="text" ng-model="form.apellido">
			</lx-text-field>	
			</div>	
		</div>
 		<div class="card__actions">
			<button type="submit" class="btn btn--red btn--l btn--raised">
			Guardar
			</button>
		</div>
		</div>
	</form>	
</div>
